main{
    display:grid;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    border: solid 1px black;
    margin-bottom: 30px;
    border-radius: 15px;
    height: 440px;
    width: 300px;
}
.container .card .img-container{
    overflow: hidden;
    position: relative;
}

.container .card .img-container h4{
    display: none;
}

.container .card .img-container p{
    font-size: 18px;
}

.container .card .img-container img{
    width: 60%;
    margin: 15px 0px;
}

.container .card .img-container .price{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: var(--precios);
    background: white;
    padding: 15px;
}

.camion {
    display: flex;
    justify-content: flex-end;
    color: var(--verde);
}

.camion i {
    padding: 9px;
    border: solid 1px var(--verde);
    border-radius: 50%;
}

.info-container h4 {
    display: inline-block;
}

.info-container .off {
    padding-right: 50%;
    color: var(--verde);
}

.info-container .align{
    display: flex;
    justify-content: space-evenly;
}

.info-container .align a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.info-container button{
    background-color: #3a4a72;
    padding: 8px 15px;
    border-radius: 50px;
    width: 35%;
    border: solid 1px #3a4a72;
}

.info-container button:active{
    background-color: #232a3f;
}

/* tablet */
@media screen and (min-width:461px){
    main .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display: inline-block;
        justify-content: center;
        flex-grow: 1;
    }

    .container .card .img-container h4{
        display: block;
    }
}